<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.pepal"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SET_TIME_ZONE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name="org.doubango.ngn.NgnApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.SplashScreen"
            android:label="PePal"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.CallActivity"
            android:label="@string/title_activity_call" />
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="sensorPortrait" />
        <activity
            android:name=".ui.ChatActivity"
            android:label="@string/title_activity_chat"
            android:screenOrientation="sensorPortrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.DialogMultiChoiceActivity"
            android:label="@string/title_activity_dialog_multi_choice"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/CustomDialog" />

        <service
            android:name=".transport.websocket.WebsocketService"
            android:enabled="true"
            android:exported="true"
            android:process=":websocket" >
            <intent-filter>
                <action android:name="org.ertebat.transport.websocket.IWebsocketService" />
            </intent-filter>
        </service>

        <activity
            android:name=".ui.UserProfileActivity"
            android:label="@string/title_activity_user_profile"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".ui.ContactProfileActivity"
            android:label="@string/title_activity_contact_profile"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".ui.SignInActivity"
            android:label="@string/title_activity_sign_in"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".ui.SignUpActivity"
            android:label="@string/title_activity_sign_up"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name=".ui.PasswordRecoveryActivity"
            android:label="@string/title_activity_password_recovery" >
        </activity>
        <activity
            android:name=".HostConfigActivity"
            android:label="@string/title_activity_host_config"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/CustomDialog" >
        </activity>
    </application>

</manifest>
